@import "../../styles/variables.scss";

.sectionAnswers {
    &Wrapper {
        @include max-width-block;
        margin-top: $mt60;

        & .answersTitle {
            width: 100%;

            & h1 {
                color: white;
                font-size: clamp(46px, 5.2vw, 62px);
                @include font700;
                text-transform: uppercase;

                & span {
                    color: #1f9fba;
                }
            }
        }
        .accordion {
            display: flex;
            flex-direction: column;
            margin-top: $mt60 / 2;
            gap: 10px;

            &Item {
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sectionAnswers {
        &Wrapper {
            & .answersTitle {
                & h1 {
                    font-size: 32px;
                }
            }
        }
    }
}