@import "../../styles/variables.scss";

.close {
    width: 120px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & img {
        height: 100%;
    }

    & p {
        margin-left: 5px;
        color: $color-text-white;
        font-size: $font-12-16;
        @include font400;
    }
}