@import "../../styles/variables.scss";

.sectionForm {
    overflow: hidden;
}

.sectionFormWrapper {
    @include max-width-block;
    margin: $mt60 auto 0 auto;

    & .formTitle {
        width: 100%;
        & h1 {
            color: white;
            font-size: clamp(46px, 5.2vw, 62px);
            @include font700;
            text-transform: uppercase;

            & span {
                color: #1f9fba;
            }
        }
        & .form {
            width: 80%;
            margin: $mt60 auto 0 auto;
        }
    }
}