@import "../../../styles/variables.scss";

.form {
    width: clamp(300px, 50vw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: $mt60 / 4 auto 0 auto;

    & label {
        width: 100%;
        color: $color-text-white;
        font-size: $font-16-20;
        @include font400;
        margin-top: $mt60 / 2;
        position: relative;

        & span {
            position: absolute;
            bottom: -15px;
            left: 0;
            color: red;
            font-size: 12px;
            @include font400;
        }
    }
    .btnForm {
        width: 60%;
        height: 50px;
        border-radius: 10px;
        border: 3px solid #1f9fba;
        background-color: #14212a;
        margin-top: $mt60 / 2;
        font-size: clamp(14px, 2vw, 18px);
        color: #a1a1a1;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 400;
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background-color: #000000;
        }
    }
}
