@import "../../styles/variables.scss";

.catalogWrapper {
    @include max-width-block;
    margin-top: clamp(62px, 6vh, 240px);
    margin-bottom: $mt60;

    &Header {
        & .catalogTitle {
            font-size: $font-46-62;
            @include font700;

            & h1 {
                color: $color-text-white;

                & span {
                    color: $color-text-blue;
                }
            }
        }

        .option {
            display: none;
            margin-top: $mt60 / 4;
            width: 200px;

            & select {
                width: 100%;
                font-size: $font-14-18;
                @include font400;
                color: $color-text-white;
                padding: 5px;
                background-color: inherit;
                border: none;
                border-bottom: 1px solid $color-text-white;
                outline: none;

                & option {
                    background-color: #090e10;
                }
            }
        }

        & .filterBlock {
            width: 80%;
            margin: $mt60 / 2 auto $mt60 / 2 auto;
            text-transform: uppercase;
            color: $color-text-white;
            font-size: $font-16-20;
            @include font400;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            & .btnFilter {
                min-width: auto;

                & input[type="radio"] {
                    display: none;
                }
                & label {
                    position: relative;

                    &::before {
                        content: "";
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 50%;
                        left: -26px;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        border: 1px solid $color-text-blue;
                        background-color: $color-text-white;
                        cursor: pointer;
                    }
                }
                & input[type="radio"]:checked + label::before {
                    background-image: url("../../images/circle.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 16px 16px;
                }
            }
        }
    }

    & .prodact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 18px;

        &Item {
            width: 31%;
            height: 683px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 2px 8px 5px rgba(255, 255, 255, 0.25) inset;

            & .foto {
                width: 95%;
                height: 465px;
                padding: 4px;
                & img {
                    width: 100%;
                }
                .swiper-button-prev:after,
                .swiper-button-next:after {
                    font-size: 28px;
                    font-weight: 600;
                    color: $color-text-blue;
                }
            }
            & .name,
            & .prise,
            & .size,
            & .thickness {
                padding: 5px;
            }
            & .name,
            & .prise {
                color: $color-text-blue;
                font-size: $font-18-24;
                @include font500;
            }
            & .prise {
                color: $color-text-white;
                &::after {
                    content: " \20BD";
                }
            }
            & .size,
            & .thickness {
                color: $color-text-grey;
                font-size: $font-16-20;
                @include font400;
            }
        }
    }
}

.btnCard {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 3px solid $color-text-blue;
    background-color: #14212a;
    margin-top: $mt60 / 3;
    margin-bottom: $mt60 / 3;
    font-size: $font-14-18;
    color: $color-text-grey;
    @include font400;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: #000000;
    }
}

@media screen and (max-width: 960px) {
    .catalogWrapper {
        & .prodact {
            gap: 25px;
            &Item {
                width: 48%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .catalogWrapper {
        margin-top: $mt60 * 2;
        &Header {
            & .catalogTitle {
                font-size: $font-24-42;
            }
            & .filterBlock {
                font-size: $font-10-16;
                .btnFilter {
                    margin-top: 15px;
                }
            }
        }
        & .prodact {
            &Item {
                width: 44%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .catalogWrapper {
        &Header {
            display: flex;
            align-items: center;
            justify-content: space-around;

            & .catalogTitle {
                font-size: 18px;
            }
            .option {
                display: block;
                margin: 0;
                & select {
                    font-size: 16px;
                    padding: 0;

                    & option {
                        font-size: 16px;
                    }
                }
            }
            & .filterBlock {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .catalogWrapper {
        &Header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: $mt60 / 4 0 $mt60 / 4 0;
            
            & .catalogTitle {
                font-size: 18px;
            }
            .option {
                display: block;
                width: auto;
                margin: 0;
                & select {
                    font-size: 16px;
                    padding: 0;
                    & option {
                        font-size: 16px;
                    }
                }
            }
            & .filterBlock {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .catalogWrapper {
        &Header {
            & .catalogTitle {
                font-size: 16px;
            }
            .option {
                width: auto;
                & select {
                    font-size: 14px;
                    padding: 0;
                    & option {
                        font-size: 14px;
                    }
                }
            }
            & .filterBlock {
                .btnFilter {
                    min-width: 170px;
                }
            }
        }
        & .prodact {
            &Item {
                width: 100%;
            }
        }
    }
}
